@model Post
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Edycja Posta</h1>
<form asp-controller="Post" asp-action="Update" method="post">
    @*<div asp-validation-summary="All"></div>*@
    <div class="mb-3">
        <label asp-for="Content"></label>
        <input class="form-control" asp-for="Content" />
        <span class="tet-danger" asp-validation-for="Content"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Date"></label>
        <input class="form-control" asp-for="Date" />
        <span class="tet-danger" asp-validation-for="Date"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Author"></label>
        <input class="form-control" asp-for="Author" />
        <span class="tet-danger" asp-validation-for="Author"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Tags"></label>
        <input class="form-control" asp-for="Tags" />
        <span class="tet-danger" asp-validation-for="Tags"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Comment"></label>
        <input class="form-control" asp-for="Comment" />
        <span class="tet-danger" asp-validation-for="Comment"></span>
    </div>
  

    <button type="submit">Zapisz</button>
</form>